body{
    margin: 0;
    background-color: #16A085;

}

html{
    font-family: Midspicy;
    font-size: larger;
}

header{
    background-color: #C9FFC8  ;
    color: rgb(0, 0, 0);
    padding: 1rem ;
}

header h1{
    font-size: 4.5rem;
    text-align: center;
}

section article h2{
    font-family: Bungee Inline;
    font-size: xx-large;
    text-align: center;
    color: #239B56 ;
}
.contenido{
    width: 400px;
    margin: 0 auto;
}

section article p{
    font-family: Comic Sans MS;
    font-size: x-large;
    text-align: center;
    color: #148F77 ;
}

section article{
    transition: box-shadow 0.5s ease;
    background-color: #C8FFDF ;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    
}

section article h2, section article p{
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(83, 252, 78);
}
footer{
    background-color: #98ffbf;
    padding: 3rem;
    color: rgb(5, 3, 1);
}

footer section{
    float: right;
}

footer p{
    margin: 0;
    font-family:Comic Sans MS ;
}

footer a{
    transition: color 0.5 ease;
    color: black;
    text-decoration: none ;
    cursor: pointer;
    font-family: Comic Sans MS;
}

footer a:hover{
    color: blue;
}

